<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <KnownDetectionEvents>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{86FA368E-357C-408C-BFCF-B89CBA2B0006}</Id>
        <ProviderId>{3285089F-DC96-4CA4-B86F-5AA44B50C287}</ProviderId>
        <Name>Cortana</Name>
      </DetectionEvent>
      <Acronym>ms</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{663CABB7-A1DF-41CE-8B77-E66F62351BC6}</Id>
        <ProviderId>{99213B93-AE38-4BDA-9DFF-C5E3B80C703E}</ProviderId>
        <Name>Alexa</Name>
      </DetectionEvent>
      <Acronym>echo</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{8899AAD5-174B-4490-933B-06E2C5E8313C}</Id>
        <ProviderId>{04C112EC-2089-47D0-AEBA-B5BD3D7EC75B}</ProviderId>
        <Name>Xiaowei</Name>
      </DetectionEvent>
      <Acronym>tencent</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{9877ABCB-1599-4F0E-BB64-C57D5678857D}</Id>
        <ProviderId>{3450A7B0-AE21-48D0-9148-B35FFB516325}</ProviderId>
        <Name>Lenovo</Name>
      </DetectionEvent>
      <Acronym>yoga</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{FFF1948D-476B-42FE-A3B3-CEEE6420534C}</Id>
        <ProviderId>{3450A7B0-AE21-48D0-9148-B35FFB516325}</ProviderId>
        <Name>Xiaole</Name>
      </DetectionEvent>
      <Acronym>leno2</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{EEE856D4-7E58-484A-85DC-2B762E7B1162}</Id>
        <ProviderId>{5EA735DD-D85D-46DF-9916-26B26677B98A}</ProviderId>
        <Name>Ne Labi</Name>
      </DetectionEvent>
      <Acronym>nec</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{5FC96EA8-9D68-44D6-A449-21B01F2DB765}</Id>
        <ProviderId>{0754C5FD-0B0E-46A0-8160-47A93ABEEEA9}</ProviderId>
        <Name>小爱同学</Name>
      </DetectionEvent>
      <Acronym>xiaomi</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{D3611534-A104-4BBF-8034-2DDA5A21D5F9}</Id>
        <ProviderId>{203E9082-F94B-4E9E-B21C-BB7E32E46C18}</ProviderId>
        <Name>Fukumaro</Name>
      </DetectionEvent>
      <Acronym>fuj</Acronym>
    </DetectionEventEx>
    <DetectionEventEx>
      <DetectionEvent>
        <Id>{275EA818-04C7-4672-B841-479E5DC40425}</Id>
        <ProviderId>{FFACD65A-E709-4219-8632-05174B82B21E}</ProviderId>
        <Name>Hi Bixby</Name>
      </DetectionEvent>
      <Acronym>bixby</Acronym>
    </DetectionEventEx>
  </KnownDetectionEvents>
</Settings>